.demo-full-width {
  width: 100%;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  background-color: #c8dadf !important;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  color: #0f3c4b;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;

  .material-icons {
    font-size: 100px !important;
    color: #c8dadf;
    background-color: #0f3c4b;
    border-radius: 50%;
    padding: 20px;
  }
}

.row-custom {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-custom {
  padding-top: 10px;
}
