<!-- <div class="col-xs-3">
  <app-person-info-card class="custom-cards"></app-person-info-card>
</div>
<app-temperature-card class="custom-cards"></app-temperature-card> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <app-person-info-card class="custom-cards"></app-person-info-card>
    </div>
    <div class="col-sm">
      <app-temperature-card></app-temperature-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="hospital-icon"></div>
          <mat-card-title>Apollo Hospitals Pvt. Ltd.</mat-card-title>
          <mat-card-subtitle>Kolkata</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Covid Vaccine first dose administered on <strong>March 08, 2021</strong></p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="hospital-icon"></div>
          <mat-card-title>Apollo Hospitals Pvt. Ltd.</mat-card-title>
          <mat-card-subtitle>Kolkata</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Covid Vaccine second dose administered on <strong>April 08, 2021</strong></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm">
      <app-covid-history-timeline></app-covid-history-timeline>
    </div>
  </div>
</div>
