.warning-icon {
    background-image: url('https://aux.iconspalace.com/uploads/info-icon-256-173196252.png');
    background-size : cover;
}

mzd-timeline {
    height: 510px;
    overflow: hidden;
    overflow-y: auto;
}